.imagem{
    height: 500px;
    width: 100%;
    text-align: center;
}
.image{
    width: 300px;
    height: 250px;
    border: 2px solid white;
    border-radius: 10px;
}
.body{
    background-color: black;
    text-align: center;
}
.p{
    font-size: 50px;
}
.div{
    color: red;
    border: 10px solid darkred;
    border-radius: 10px;
    padding: 20px 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.tabela{
    color: white;
    border: 1px white;
    width: 100%;
    padding: 20px 20%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.table{
    
    color: white;
    border: 1px white;
    width: 100%;
    padding: 20px 20%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pé{
    color: white;
    font-size: x-small;
}